@*@model IEnumerable<Doctor>*@
@model Gabinet_v2.Models.Doctor


@*<div asp-validation-summary="All" class="alert alert-danger"></div>*@
<form asp-action="EditDoctor" asp-controller="Admin" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="FirstName">Imie</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName">Nazwisko</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="col">
        <input type="submit" class="btn btn-success w-25" value="Zatwierdź" />
        <a asp-action="DoctorIndex" class="btn btn-danger w-25"><i class="fas fa-sign-out-alt"></i> Cofnij</a>
    </div>
    @*<div class="col">
        <a asp-action="Index" class="btn btn-success w-25"><i class="fas fa-sign-out-alt"></i> Back</a>
    </div>*@
</form> 