@*@model IQueryable<Appointment>*@
@model Gabinet_v2.Models.AppointmentModel


@*<div asp-validation-summary="All" class="alert alert-danger"></div>*@
<form asp-action="EditAppointment" asp-controller="Admin" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="AppointmentDate">Data</label>
        <input asp-for="AppointmentDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description">opis</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price">Cena</label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PatientId">ID Pacjenta</label>
        <input asp-for="PatientId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DoctorId">ID Doktora</label>
        <input asp-for="DoctorId" class="form-control" />
    </div>

    <div class="col">
        <input type="submit" class="btn btn-success w-25" value="Zatwierdź" />
        <a asp-action="AppointmentIndex" class="btn btn-danger w-25"><i class="fas fa-sign-out-alt"></i> Cofnij</a>
    </div>
    @*<div class="col">
            <a asp-action="Index" class="btn btn-success w-25"><i class="fas fa-sign-out-alt"></i> Back</a>
        </div>*@
</form> 