<a asp-action="DoctorIndex" asp-controller="Admin"  class="btn btn-danger">Doctors</a>
<a asp-action="PatientIndex" asp-controller="Admin" class="btn btn-danger">Patients</a>
<a asp-action="AppointmentIndex" asp-controller="Admin" class="btn btn-danger">Appointments</a>
<a asp-action="AssistantIndex" asp-controller="Admin" class="btn btn-danger">Assistants</a>
